[Desktop Entry]
Type=Application
Name=Sobercookie Launcher
Exec=sobercookie-launcher -- %u
Terminal=false
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player
Categories=Game
